@import '../../crmBase.scss';

.mr15{
    margin-right: rem(15);
}
.w90p{
    width: 90%;
}
.w100p{
    width: 100%;
}
.crm_list_item{
    position: relative;
    display: flex;
    padding-top: rem(15);
    &:after{
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        border-bottom: 1px solid #E6E6E6;
        transform: scaleY(0.5);
        transform-origin: 0 0;
    }
    &:last-child{
        &:after{
            content: normal;
        }
    }
    .check_wrap{
        margin-right: rem(5);
        min-height: rem(65);
        .icon_check{
            position: relative;
            margin-top: rem(15);
        }
    }
    .list_item_top{
        margin-bottom: rem(5);
        font-size: rem(16);
        color: #333;
    }
    .ellipsis{
        @include ellipsis;
    }
    .list_item_mid{
        margin-bottom: rem(8);
        font-size: rem(13);
        color: #666;
        .mid_inner{
            margin-bottom: rem(5);
            @include ellipsis;
        }
    }
    .list_item_bottom{
        display: flex;
        padding-bottom: rem(15);
        font-size: rem(13);
        color: #999;
        .item_msg_wrap{
            margin: rem(-1) rem(15) 0 0;
            .list_item_avator{
                margin: rem(-3) rem(5) 0 0;
                width: rem(15);
                height: rem(15);
                vertical-align: middle;
                border-radius: 50%;
            }
            .avator_name{
                display: inline-block;
                margin-top: rem(-3);
                max-width: rem(110);
                vertical-align: middle;
                @include ellipsis;
            }
        }
    }
    .list_del_wrap{
        position: relative;
        height: rem(40);
        color: #999;
        border-top: 1px dashed #e4e4e4;
        .list_del{
            position: absolute;
            right: rem(15);
            bottom: rem(5);
            .list_del_icon{
                display: inline-block;
                margin-right: rem(20);
                width: rem(20);
                height: rem(20);
                vertical-align: bottom;
                background: url('~assets/images/del_icon.png') no-repeat center;
                background-size: 125%;
            }
        }
    }
    .right_del{
        position: absolute;
        width: rem(30);
        height: rem(30);
        right: rem(15);
        bottom: rem(10);
        border-top: 0;
        .list_del{
            margin: 0 auto;
            right: 0;
            .list_del_icon{
                margin-right: 0;
            }
        }
    }
    .contract-status{
        display: inline-block;
        padding: rem(2) rem(3);
        margin: rem(-3) rem(5) 0 0;
        font-size: rem(12);
        font-style: normal;
        text-align: center;
        vertical-align: middle;
        line-height: 1;
        border-radius: 2px;
    }
    .status_gray{
        border: 1px solid #666;
        color: #333;
    }
    .status_blue {
        border: 1px solid #458be9;
        color: #458be9;
    }
    .status_green{
        border: 1px solid #1aad19;
        color: #1aad19;
    }
    .status_red{
        border: 1px solid #d64949;
        color:#e94f4f;
    }
    .status_orange{
        border: 1px solid #ff6000;
        color: #ff6000;
    }
}
