@import "../common/color";
@import "../common/import-lib-var";
.radio_group{
  &.in-line{
    display: flex;
  }
}

.radio{
  display: inline-block;
  position: relative;
  width: 100%;
  padding: 5px;
  color: #36404A;
  font-size:  $font14;
  cursor: pointer;
  white-space: nowrap;
  user-select: none;
  &.disabled{
    opacity: 0.5;
    cursor: not-allowed;
  }
  & .radio_input{
    white-space: nowrap;
    outline: none;
    display: inline-block;
    line-height: 1;
    position: relative;
    vertical-align: middle;
    & span{
      display: inline-block;
      position: relative;
      width:20px;
      height:20px;
      border:1px solid $radio;
      border-radius:50%;
      box-sizing: border-box;
      background:$defaultColor;
      transition: border-color .25s cubic-bezier(.71,-.46,.29,1.46),background-color .25s cubic-bezier(.71,-.46,.29,1.46);
    }
    & input{
      position: absolute;
      top: 0;
      bottom: 0;
      margin: auto;
      visibility: hidden;
    }
    & input:checked + span, & input:hover + span{
      border: 1px solid $primaryColor;
    }
    & input:checked + span:after{
      content: '';
      width: 10px;
      height: 4px;
      position: absolute;
      top: 5px;
      left: 3px;
      border: 2px solid $primaryColor;
      border-top: none;
      border-right: none;
      border-radius: 1px;
      -webkit-transform: rotate(-45deg);
      transform: rotate(-45deg);
      transition: transform .15s cubic-bezier(.71,-.46,.88,.6) .05s;
      transform-origin: center;
    }
  }
}


