@import '../../../crmBase.scss';

.mr10{
    margin-right: rem(10);
}
.crm_pool_wrap{
    .pool_list_header{
        position: relative;
        z-index: 3;
    }
    .crm_list_item{
        padding-top: rem(18);
        .list_item_bottom{
            padding-bottom: rem(16);
        }
    }
    .footer_btn_wrap{
        position: relative;
        z-index: 2;
        display: flex;
        padding: rem(8) rem(15);
        width: 100%;
        background: #fff;
        box-sizing: border-box;
        &:after{
            @include topLine
        }
        .crm_footer_btn{
            position: relative;
            flex: 1;
            height: rem(45);
            line-height: rem(45);
            text-align: center;
            font-size: 16px;
            border-radius: 5px;
            cursor: pointer;
            &.default{
                color: #333;
                background: #FBFAFC;
                &:after{
                    content: " ";
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 199%;
                    height: 200%;
                    border: 1px solid #e5e5e5;
                    transform: scale(0.5);
                    transform-origin: 0 0;
                    box-sizing: border-box;
                    border-radius: 10px;
                }
            }
            &.primary{
                color: #fff;
                background: #2F7DCD;
            }
            
        }
    }
    .pool_bar_wrap{
        position: relative;
        &:after{
            @include underLine;
        }
        .pool_bar{
            height: rem(40);
            font-size: rem(14);
            color: #666;
            text-align: center;
            line-height: rem(40);
            background: #fff;
            .down_arrow{
                display: inline-block;
                width: rem(15);
                height: rem(9);
                background: url(../../../../../assets/images/icon_down_gray.png) no-repeat;
                background-size: 100%; 
            }
        }
        .pool_list{
            position: absolute;
            z-index: 3;
            width: 100%;
        }
    }
    .separate_line{
        height: rem(10);
        background: #f4f4f4;
    }
    .no_scroll{
        overflow: hidden !important;
    }
    .search_bar_wrap{
        display:inline-block;
        flex: 9;
        vertical-align: middle;
    }
    .crm_list_mask{
        position: fixed;
        left: 0;
        top: 0;
        z-index: 2;
        width: 100%;
        height: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    .top_tips{
        position: fixed; 
        top: 0; 
        left: 0; 
        right: 0;
        z-index: 4;
        margin: 0 auto;
        width: rem(290);
        height: rem(30); 
        line-height: rem(30);
        text-align: center; 
        color: #fff;
        border-radius: 0 0 6px 6px;
        background: rgba(0,0,0,0.7);
    }
}
